global-include LICENSE LICENSE.*
include README.md
include dace_fortran/README.md
include dace_fortran/CMakeLists.txt
include dace_fortran/build_bridge.py
recursive-include dace_fortran/bridge *.cpp *.h
recursive-include dace_fortran/passes *.cpp *.h
